body {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100%;
    overflow: hidden;
}
/* ====== Page CSS ====== */
header {
    background-color: black;
    color: white;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.25);
    height: 8vh;
    overflow: hidden;
    position: relative;
}

header h1 {
    line-height: 8vh;
    font-size: 2rem;
}

header a {
    text-decoration: none;
    color: white;
}

footer {
    display: none;
    background-color: black;
    height: 5vh;
}

footer h2 {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    line-height: 5vh;
}

main {
    overflow-y: auto;
    height: 92vh;
}

/* ==== Countdown CSS ==== */
.container {
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
}

.countdown {
    height: 100px;
    position: relative;
    margin-bottom: 25px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.countdown .content {
    line-height: 100%;
}

.container .countdown:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}

.container .countdown {
    padding: 25px;
}

.container .countdown .title {
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}

.background {
    opacity: 0.4;
    background-size: cover;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(2px);
    width: 100%;
    height: 100%;
}

.progression {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    height: 6px;
    width: 100%;
    overflow: hidden;
    display: none;
}

.progpercentage {
    display: block;
    height: 6px;
    border-radius: 0 0 3px 0;
    background-color: rgb(0, 0, 0);
    transition: width 0.5s;
    width: 0;
}

/* ==== Menu CSS ==== */
.hamburger {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
    margin-top: 10px;

}

.line1, .line2, .line3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.5s;
}

.animation .line1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.animation .line2 {
    opacity: 0;
}

.animation .line3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.menu {
    width: 100%;
    background-color: #222222;
    /*transition: max-height 0.5s;*/
    max-height: 500px;
    overflow: hidden;
}

.menu-item {
    font-weight: bold;
}

.menu-item a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}

.menu-item:hover {
    background-color: #333333;
}

.hidden {
    max-height: 0;
}

/* ==== Menu CSS ==== */

.container .about {
    padding: 15px;
    background-color: rgba(238, 238, 238, 0.5);
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 25px;
}

.container .disclaimer {
    padding: 15px;
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 5px;
    border: 1px solid red;;
}

.container h1 {
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}